ol {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.main-header {
  text-align: center;
  margin-bottom: 5em;
  margin-top: 1em;
}

.main-header p {
  margin: 0;
}

.main-header h1 {
  margin: 0;
}

.main-wrapper, .main-header {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper > header {
  margin-bottom: 3.5em;
}

.content-padding {
  padding: 0 4rem;
}

.align-center {
  text-align: center;
}

.legend-wrapper {
  font-size: 14px;
}

.label {
  fill: black;
  font-size: 12px;
}

section:not(:first-of-type) {
  margin-top: 3.5em;
}

th div {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: .5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

tbody tr {
  animation-name: fadeIn;
  animation-duration: 1s;
}